/**
* Note: this file will be repsonsible for styling the onboarding questions
*/
@font-face {
    font-family: 'EquitanSans';
    src: url('fonts/EquitanSans-SemiBold.otf');
}

/* default button styling */
#okayButton {
    padding: 10px;
    border: 1px solid green;
    background-color: lightgreen;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nextArrow {
    /* set this to invisible by default */
    display: none;
    padding: 10px;
    border: 1px solid green;
    background-color: lightgreen; 
    border-radius: 50px;
    margin-right: 15%;
    margin-left: auto;
    
}


/* onboarding questions */
.questions-wrapper {
    position: relative;
}
.question-response-input {
    overflow: auto;
    outline: none;
    resize: none; /*remove the resize handle on the bottom right*/

    border-radius: 8px;
    border: 1px solid grey;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 80px;
}

.question-header {
    font-family: 'EquitanSans';
    text-align: center;
  }

/* Styles for finish.html */
